* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

img {
  width: 100%;
  height: 100%;
}

input {
  all: unset;
}

button {
  all: unset;
  cursor: pointer;
}

.App{
  background-color: red;
  width: 100vw;
  height: 55vh;
  position: relative;
}

.App::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  background-color: black;
}
